<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.child.parent.kidcare">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"

        android:icon="@mipmap/ic_launcher"
        android:label="child"

        android:manageSpaceActivity=".views.UserProfile.UserProfileActivity"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_rounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.passcode.PassCodeActivity"
            android:configChanges="orientation|keyboardHidden"/>
        <activity

            android:name=".views.splash.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.settime.SetTimerActivity"
            android:label="@string/SetTime"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.home.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"

            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.UserProfile.UserProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/Settings"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.sendfeedback.SendFeedbackActivity"
            android:label="Send Feedback"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.applist.SelectAppActivity"
            android:excludeFromRecents="true"
            android:label="@string/SelectApp"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.otplockscreen.OtpRequestActivity"
            android:taskAffinity=".OtpRequestActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".views.onboarding.OnboardingActivity" />

        <receiver
            android:name=".alarms.BootBroadcastReceiver"
            android:directBootAware="true"
            android:exported="false">
            <!-- Listening the BOOT_COMPLETED action for legacy pre-N devices -->
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.AppMonitorService"
            android:stopWithTask="false"
            android:directBootAware="true"
            android:exported="false" />
    </application>

</manifest>